<ul id="social-nav" class="nav justify-content-end fixed-top">
    <li class="nav-item">
        <a class="nav-link" href="https://github.com/Theracon" target="_blank"><i class="fab fa-github"></i
    ></a>
    </li>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="https://www.facebook.com/ashrafmuhammadyusuf" target="_blank"><i
            class="fab fa-facebook-f"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="https://www.linkedin.com/in/ashraf-yusuf-507409145" target="_blank"><i
                class="fab fa-linkedin-in"></i></a>
    </li>
</ul>